img.logo {
  background-color: white;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  padding: 10px;
}

div.content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  padding: 5px;
}

.card-title {
  margin-left: 15px;
  display: inline-block;
}

div.card-container {
  margin-top: 15px;
}

span.tags {
  background-color: antiquewhite;
  padding: 4px;
  border-radius: 15px;
}

.links > a {
  margin: 10px;
}
