<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-2">
    <button class="btn btn-primary" (click)="goToCurrencies()">
      Go Back
    </button>
  </div>
  <ng-container *ngIf="data">
    <div class="col-10 justify-content-end">
      <h5 class="text-right"><span class="text-primary">Details about </span>{{data.name}}</h5>
    </div>
  </ng-container>

</nav>
<ng-container *ngIf="data">
  <div class="container-fluid">
    <div class="card col-lg-6 offset-3 card-container">
      <div class="card-header">
        <img class="card-img-top logo img-rounded img-responsive" src="{{data.logo}}" alt="Card image cap">
        <h3 class="card-title text-center">{{data.name}}</h3>
      </div>
      <div class="card-body">
        <h6 class="text-secondary justify-content-end text-right">symbol name: {{data.symbol}}</h6>
        <p class="card-text text-justify">{{data.description}}</p>
        <ng-container *ngIf="data.tags">
          <div class="d-lg-inline">
            <span class="text-secondary">tags: </span>
            <span class="tags" *ngFor="let item of data.tags">{{item}}</span>
          </div>


        </ng-container>
      </div>
      <ul class="list-group list-group-flush">
        <ng-container *ngIf="data.urls.explorer">
          <li class="list-group-item">
            Explore
            <span class="list-group-item" *ngFor="let item of data.urls.explorer">
            <a href="{{item}}" target="_blank">{{item}}</a>
          </span>
          </li>
        </ng-container>
        <li class="list-group-item text-center">Links</li>
      </ul>
      <div class="card-body justify-content-center text-center links">
        <a href="{{data.urls.source_code}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a href="{{data.urls.website}}" target="_blank"><i class="fa fa-link fa-2x"></i></a>
        <a href="{{data.urls.reddit}}" target="_blank"><i class="fa fa-reddit fa-2x"></i></a>
      </div>
    </div>
  </div>
</ng-container>

