/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


/*Bootstrap override*/
.btn-primary {
  background-color: #2199e8;
  border-color: #2199e8;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #939ca7;
  border-color: #939ca7;
}
