<div class="container-fluid">
  <div class="col-lg-10 offset-1">
    <div class="row justify-content-center">
      <h3>Cryptocurrencies by Market</h3>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tr class="table-header">
          <th scope="col">Name</th>
          <th scope="col">Short name</th>
          <th scope="col">$ Value</th>
          <th scope="col">Last 24h</th>
          <th scope="col" class="text-center">Ammount you own</th>
          <th scope="col" class="text-center">$ value of your coin</th>
        </tr>
        <ng-container *ngIf="listItems">
          <tr *ngFor="let currency of listItems | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageNumber }">
            <!--TODO Create component for items-->
            <td class="name" (click)="currencyDetails(currency.id)">{{ currency.name }}</td>
            <td>{{currency.symbol}}</td>
            <td>{{ currency.price | currency}}</td>
            <td class="text-center" [ngClass]="isPositiveValue(currency.percentChange)">{{ currency.percentChange |
              number: '1.2-3' }}%
            </td>
            <td class="text-center">
              <app-currency-list-amount-input [amount]="currency.currentAmount" [currencyId]="currency.id"
                                              (amountChanged)="calculateCurrencyAmount($event)"></app-currency-list-amount-input>
            </td>
            <td class="text-center">{{currency.yourCurrencyAmount | currency}}</td>
          </tr>
        </ng-container>
      </table>
      <div class="col-lg-10 justify-content-center text-center">
        <pagination-controls (pageChange)="currentPageNumber = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
