tr:hover:not(.table-header) {
  background-color: rgba(54, 179, 255, 0.45) !important;
  transition: 1s;
}

td {
  vertical-align: middle !important;
}

td.name {
  cursor: pointer;
}

td.name:hover {
  background-color: #2199e8;
  transition: 0.5s;
  color: white;
}

td.negative-val {
  color: red;
}

td.positive-val {
  color: forestgreen;
}

